<main>

<!-- Desktop Site -->
	<div class="hidden-xs hidden-sm container-fluid">
		<div class="row">
				<div class="parallax-window portrait-crop-first" data-parallax="scroll" data-bleed="6" data-position="top" data-speed="0.2" data-image-src="/img/sarahoriol01.jpg">
					<h1 class="page-title" style="display: block; text-align: center; padding: 16% 0 0 0; vertical-align: middle;">These two</h1>
						<h1 class="page-title" style="display: block; text-align: center;">sweet kids</h1>
				</div>
			</div>
		<div class="row" style="height: 350px">
				<div class="col-md-2">
			</div>
			<div class="col-md-3" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h2 class="text-align-center" style="margin-top: 0px">Side ponytails and Barbie dolls,&nbsp;chocolate mousse, Wonder Woman, watching black and white movies with Mum:&nbsp;this was all this eight year old cared about.</h2>
				</div>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-3" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h2 class="text-align-center" style="margin-top: 0px">Bowl cuts and bodyboarding with his little bro. Along with a talent for designing his own clothes, this was a very special snowflake from Napier.</h2>
				</div>
			</div>
			<div class="col-md-2">
				</div>
		</div>
		<div class="row">
			<div class="parallax-window portrait-crop" data-parallax="scroll" data-bleed="6" data-position="top" data-speed="0.2" data-image-src="/img/sarahoriol1.jpg">
				<h1 class="page-title" style="display: block; text-align: center; padding: 16% 0 0 0; vertical-align: middle;">one teen rebel,</h1>
					<h1 class="page-title" style="display: block; text-align: center;">one blue-eyed</h1>
					<h1 class="page-title" style="display: block; text-align: center;">darling</h1>
				</div>
			</div>
		<div class="row" style="height: 350px">
				<div class="col-md-2">
			</div>
			<div class="col-md-3" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h2 class="text-align-center" style="margin-top: 0px">Whether smoking in the toilets, watching Rage all night or playing records in her bedroom, she was a dreamer, a truant, and a wanna-be poet.</h2>
				</div>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-3" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h2 class="text-align-center" style="margin-top: 0px">This was a small town kid, a straight-A student with after school jobs. Roller hockey and Friday nights at the skate bowl, when not hanging out with the folks.</h2>
				</div>
			</div>
			<div class="col-md-2">
				</div>
			</div>
		<div class="row">
			<div class="parallax-window portrait-crop" data-parallax="scroll" data-bleed="6" data-position="top" data-speed="0.2" data-image-src="/img/sarahoriolLA.jpg">
				<h1 class="page-title" style="display: block; text-align: center; padding: 17% 0 0 0; vertical-align: middle;">came together,</h1>
					<h1 class="page-title" style="display: block; text-align: center;">once grown</h1>
				</div>
			</div>
		<div class="row" style="height: 490px">
				<div class="col-md-2">
			</div>
			<div class="col-md-3" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h2 class="text-align-center" style="margin-top: 0px">While the dreamer did everything the hard way (upside down and back to front), she had finally got to where she was meant to be, when she met a handsome man-about-town.<br/><br/>It didn't take her long to begin to fall, and fall she did: head over Louboutin's.</h2>
				</div>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-3" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h2 class="text-align-center" style="margin-top: 0px">That small town kid had grown into a worldly young man, when suddenly a former teen rebel stumbled (quite literally) into his arms.<br/><br/>That was on a Friday night. By Monday, he knew he was going to spend the rest of his life with her.</h2>
				</div>
			</div>
			<div class="col-md-2">
				</div>
			</div>
		<div class="row">
			<div class="parallax-window portrait-crop-first" data-parallax="scroll" data-bleed="6" data-position="top" data-speed="0.2" data-image-src="/img/LittleKitty.jpg">
    			<h1 class="page-title" style="display: block; text-align: center; padding: 16% 0 0 0; vertical-align: middle;">to make a forever</h1>
					<h1 class="page-title" style="display: block; text-align: center;">kind of love.</h1>
				</div>
			</div>
		<div class="row" style="height: 325px">
				<div class="col-md-3">
			</div>
			<div class="col-md-6" style="height: 100%; display: table">
				<div style="display: table-cell; vertical-align: middle;">
					<h1 class="text-align-center" style="margin-top: 0px">Sarah and Oriol were thrilled to have you with them on their wedding day.<br/><br/>You can now view the photos in <a href="/theday/">The Day</a> gallery.</h1>
				</div>
			</div>
			<div class="col-md-3">
				</div>
		</div>
	</div>

<!-- Mobile Site -->
	<div class="visible-xs-block visible-sm-block container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div style="position: relative;">
					<h1 class="page-title" style="width: 100%; font-size: 35px; text-align: center; padding: 22% 0 0 0; margin: auto; position: absolute; vertical-align: middle;">These two<br/>sweet kids</h1>
					<img src="./public/img/sarahoriol01.jpg" style="width: 100%;">
					</div>

			</div>
			</div>
		<div class="row">
				<div class="col-xs-12">
				<div style="padding: 10% 5% 10% 5%;">
					<h2 class="text-align-center" style="margin-top: 0px">Side ponytails and Barbie dolls,&nbsp;chocolate mousse, Wonder Woman, watching black and white movies with Mum:&nbsp;this was all this eight year old cared about.<br/><br/><small>&#9734;     &#9734;     &#9734;</small><br/><br/>Bowl cuts and bodyboarding with his little bro. Along with a talent for designing his own clothes, this was a very special snowflake from Napier.</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div style="position: relative;">
					<h1 class="page-title" style="display: block; width: 100%; font-size: 35px; text-align: center; padding: 22% 0 0 0; margin: auto; position: absolute; vertical-align: middle; z-index: 8002">one teen rebel,<br/>one blue-eyed<br/>darling</h1>
					<img src="./public/img/sarahoriol1.jpg" style="width: 100%; z-index: 8000">
					</div>
			</div>
			</div>
		<div class="row">
				<div class="col-xs-12">
				<div style="padding: 10% 5% 10% 5%;">
					<h2 class="text-align-center" style="margin-top: 0px">Whether smoking in the toilets, watching Rage all night or playing records in her bedroom, she was a dreamer, a truant, and a wanna-be poet.<br/><br/><small>&#9734;     &#9734;     &#9734;</small><br/><br/>This was a small town kid, a straight-A student with after school jobs. Roller hockey and Friday nights at the skate bowl, when not hanging out with the folks.</h2>
				</div>
			</div>
			</div>
		<div class="row">
			<div class="col-xs-12">
				<div style="position: relative;">
					<h1 class="page-title" style="display: block; width: 100%; font-size: 35px; text-align: center; padding: 22% 0 0 0; margin: auto; position: absolute; vertical-align: middle; z-index: 8002">came together,<br/>once grown</h1>
					<img src="./public/img/sarahoriolLA.jpg" style="width: 100%; z-index: 8000">
					</div>
				</div>
			</div>
		<div class="row">
				<div class="col-xs-12">
				<div style="padding: 10% 5% 10% 5%;">
					<h2 class="text-align-center" style="margin-top: 0px">While the dreamer did everything the hard way (upside down and back to front), she had finally got to where she was meant to be, when she met a handsome man-about-town.<br/><br/>It didn't take her long to begin to fall, and fall she did: head over Louboutin's.<br/><br/><small>&#9734;     &#9734;     &#9734;</small><br/><br/>That small town kid had grown into a worldly young man, when suddenly a former teen rebel stumbled (quite literally) into his arms.<br/><br/>That was on a Friday night. By Monday, he knew he was going to spend the rest of his life with her.</h2>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-xs-12">
				<div style="position: relative;">
					<h1 class="page-title" style="display: block; width: 100%; font-size: 35px; text-align: center; padding: 15% 0 0 0; margin: auto; position: absolute; vertical-align: middle; z-index: 8002">to make a forever<br/>kind of love</h1>
					<img src="./public/img/LittleKitty.jpg" style="width: 100%; z-index: 8000">
					</div>
				</div>
			</div>
		<div class="row">
				<div class="col-xs-12">
				<div style="padding: 10% 5% 10% 5%;">
					<h2 class="text-align-center" style="margin-top: 0px;">Sarah and Oriol were thrilled to have you with them on their wedding day.<br/><br/>You can now view the photos in <a href="/theday/">The Day</a> gallery.</h2>
				</div>
				</div>
		</div>
	</div>
</main>