<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 hidden-xs">
      </div>
      <div class="col-md-4 col-xs-12">
        <div style="vertical-align: middle; padding: 40px 0px 40px 0px">
          <br/><h3 style="text-align: center;">{{{__ 'Thank you so much for your gift.'}}}</h3>
          <h3 style="text-align: center;">{{{__ 'We can\'t wait to see you in Santa Fe!'}}}</h3>
        </div>
      </div>
      <div class="col-md-4 hidden-xs">
      </div>
    </div>
    <div style="position: relative; width: 100%">
      <img class="center-block" src="/img/Beets-and-Sweets.png" alt="" style="max-width: 100%">
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; width: 40px; height: 60px; z-index: 9998;"</div>
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-58%, -40%); font-size: 1.7em; z-index: 9999;">
        &amp;
      </div>
    </div>
  </div>
</main>
